/* Special selectors */
:root{
    --fuchsia: #e53170;
    --light-blue: #65c7f1;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-weight: 900;
    color: var(--fuchsia);
}

/* Utils */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
h1, p{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

/* Main */
section{
    margin-right: 1rem;
    margin-left: 1rem;
}

.card{
    background-color: black;
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px;
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.img-card{
    height: 100px;
    float: left;
    margin-right: 10px;
}

.img-description{
    height: 100%;
    padding: 10px;
    line-height: calc(80px / 3);
}

h5, span{
    color: white;
}

a{
    text-decoration: none;
    color: #65c7f1;
}