/* Special selectors */
:root{
    --fuchsia: #e53170;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-weight: 900;
    color: var(--fuchsia);
}

/* Utils */
.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
h1, p{
    margin: 2.5rem;
    text-align: center;
}

/* Main */
.card{
    background-color: black;
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px;
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


